DATABASE_HOST=127.0.0.1
DATABASE_NAME=kasirwarung_db
DATABASE_USER=root
DATABASE_PASSWORD=123456
DATABASE_URL="mysql://root:123456@127.0.0.1:3306/kasirwarung_db"
JWT_SECRET="4f95e90bcea311dd9513aa6606fa88bc"